*, *::before, *::after {
    box-sizing: border-box
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
    margin: 0
}

ul[role=list], ol[role=list] {
    list-style: none
}

html:focus-within {
    scroll-behavior: smooth
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5
}

a:not([class]) {
    text-decoration-skip-ink: auto
}

img, picture {
    max-width: 100%;
    display: block
}

input, button, textarea, select {
    font: inherit
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto
    }

    *, *::before, *::after {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior: auto !important
    }
}

body {
    font-family: "Roboto", sans-serif
}

header {
    background-color: #000;
    height: 60px
}

header nav {
    width: 56%;
    margin-right: auto;
    margin-left: auto
}

header nav .nav-items {
    padding-left: 0;
    margin: 0 0;
    font-size: 18px;
    list-style: none;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

@media screen and (max-width: 900px) {
    header nav .nav-items {
        justify-content: center
    }
}

@media screen and (max-width: 900px) {
    header nav .nav-items .nav-item {
        display: none
    }
}

header nav .nav-items .nav-item a {
    text-decoration: none;
    color: #f5f5f5
}

header nav .nav-items .nav-item.logo {
    font-size: 1.6rem
}

@media screen and (max-width: 900px) {
    header nav .nav-items .nav-item.logo {
        display: block;
        color: #fff;
        font-weight: 500
    }
}

.main-slider {
    height: calc(100vh - 60px - 100px);
    position: relative;
    overflow-x: hidden
}

.main-slider .product-container {
    display: flex;
    width: 800px;
    max-width: 95%;
    padding: 20px auto;
    padding-top: 200px;
    gap: 72px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto
}

@media screen and (max-width: 900px) {
    .main-slider .product-container {
        flex-direction: column-reverse;
        padding-top: 0
    }

    .main-slider .product-container .product-image {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        max-height: 267px
    }

    .main-slider .product-container .product-image img {
        height: 300px
    }
}

.button {
    background-color: #ff7a00;
    color: #fff;
    width: max-content;
    padding: 12px 30px;
    border-radius: 100px;
    margin: 10px 0;
    cursor: pointer
}

@media screen and (max-width: 900px) {
    .button {
        margin-left: auto;
        margin-right: auto
    }
}

.product-name {
    font-size: 40px
}

@media screen and (max-width: 900px) {
    .product-name {
        text-align: center
    }
}

.product-subHeading {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px
}

@media screen and (max-width: 900px) {
    .product-subHeading {
        text-align: center
    }
}

@media screen and (max-width: 900px) {
    .product-info-para {
        text-align: center;
        width: 60%;
        margin-left: auto;
        margin-right: auto
    }
}

.slider-position-indicator {
    display: flex;
    gap: 20px;
    margin: 45px auto;
    justify-content: center
}

.slider-position-indicator .slider-dot {
    height: 10px;
    width: 10px;
    background-color: rgba(204, 204, 204, .8);
    border-radius: 50%;
    cursor: pointer
}

.dot-active {
    background-color: #707070 !important
}

.left {
    left: -200% !important
}

.right {
    right: -200% !important
}

.know-more a {
    text-decoration: none;
    color: #fff
}